.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.infoArea {
    text-align: center;
    background-color: white;
    color: black;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoArea p {
    font-weight: bold;
}